
  /*
  При создании селектора CSS,
  изменить "коричневый" на что-нибудь по вашему выбору
  */
  .waves-effect.waves-brown .waves-ripple {
    /* Значение альфа позволяет использовать цвет текста и фона.
    кнопки, чтобы все еще было видно. */
     background-color: rgba(121, 85, 72, 0.65);
   }
 
   
  body {
    display: float;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }